@media(max-width: 1500px){
  .services{
    &__title{
      font-size: 40px;
      margin-bottom: 30px;
    }
    &__subtitle{
      margin-top: 35px;
    }
  }
}

@media(max-width: 1250px){
.services{
    &__title{
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__subtitle{
      font-size: 18px;
      margin-top: 25px;
    }
    &__text{
      font-size: 15px;
    }
  }
  .advantages{
    background-color: #f8de6c;
    background-image: none;
    &__slider{
      margin: 0 auto;
    }
    &__btn{
      margin-top: -100px;
    }
    .slick-dots{
      right: 45%;
      margin-bottom: 130px;
    }
  }
}

@media(max-width: 1110px){
  .specialists{
    &__box{
      display: block;
    }
  }
}

@media(max-width: 1110px){
  .map{
    &__clinic{
      display: none;
    }
    &__contacts{
      margin: 0 auto;

    }
  }
}


@media(max-width: 900px){
  .header{
    position: relative;
    &-top{
      flex-direction: column-reverse;
      align-items: center;
      &__phones{
        order: 1;
      }
      &__social{
        order: 1;
      }
    }
    &__search{
      &-svg{
      margin: 10px 0;
      }
    }
  }
  .menu{
    max-width: 900px;
    &__list{
      position: absolute;
      flex-direction: column;
      background-color: #ffffff;
      top: 295px;
      left: 0;
      max-width: 900px;
      width: 100%;
      height: 542px;
      align-items: center;
      transform: translateY(-300%);
      &.menu__list--active{
      transform: translateY(0%);
      transition: all .3s;
        }
    }

    &__btn{
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      background-color: transparent;
      background-image: url('../images/icons/menu.svg');
      background-repeat: no-repeat;
      right: 30px;
      top: 230px;
      cursor: pointer;
    }
  }
  .logo{
   padding-left: 30px;
  }
  

  .about{
    &__title{
      font-size: 40px;
      span{
        font-size: 40px;
      }
    }
    &__text{
      font-size: 20px;
    }
  }
  .test{
    &__title{
      font-size: 40px;
      span{
        font-size: 40px;
      }
    }
    &__text{
      font-size: 20px;
    }
  }
  .specialists{
    &__title{
      font-size: 40px;
      span{
        font-size: 40px;
      }
    }
  }
  .advantages{
    &__title{
      font-size: 40px;
      span{
        font-size: 40px;
      }
    }
    &__text{
      font-size: 24px;
    }
  }
  .examples{
    &__title{
      font-size: 40px;
      span{
        font-size: 40px;
      }
    }
  }
}
 

@media(max-width: 750px){

  .advantages{
    &__inner{
      padding: 0 10px;
    }
    &__title{
      font-size: 35px;
      margin-bottom: 30px;
    }
    &__text{
      font-size: 20px;
      margin-bottom: 30px;
    }
    &__item{
      &-title{
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 18px;
      }
      &-text{
        font-size: 14px;
      }
      &-title-2{
        font-size: 18px;
        margin-bottom: 10px;
        line-height: 18px;
      }
      &-text-2{
        font-size: 14px;
      }
    }
    &__btn{
      right: 30%;
      
    }
    .slick-dots{
      right: 50%;
      left: 50%;
      margin-bottom: 130px;
    }
  }
}



@media(max-width: 560px){
  .about{
    &__title{
      font-size: 30px;
      span{
        font-size: 30px;
      }
    }
    &__text{
      font-size: 16px;
    }
  }
  .specialists{
    &__title{
      font-size: 30px;
      span{
        font-size: 30px;
      }
    }
  }
  .examples{
    &__title{
      font-size: 30px;
      span{
        font-size: 30px;
      }
    }
  }

  .advantages{
    &__title{
      font-size: 30px;
      line-height: 30px;
    }
    &__text{
      font-size: 20px;
      line-height: 30px;
    }
    &__item{
      &-title{
        font-size: 18px;
        padding-left: 0;
        &::before{
          display: none;
        }
      }
      &-text{
        font-size: 14px;
        padding-left: 0;
      }
      &-title-2{
        font-size: 18px;
        padding-left: 0;
        &::before{
          display: none;
        }
      }
      &-text-2{
        font-size: 14px;
        padding-left: 0;
      }
    }
    
    &__btn{
      right: 20%;
    }
  }
  .test{
    &__title{
      font-size: 30px;
      padding-top: 40px;
      span{
        font-size: 30px;
      }
    }
    &__form-box{
      padding: 0 10px;
    }
  }
  .map{
    &__contacts{
      padding: 60px 40px 70px 40px;
    }
  }
  .footer{
    &__title{
      font-size: 30px;
      padding-top: 40px;
      span{
        font-size: 30px;
      }
    }
  }
}












@media(max-width: 350px){
  .logo{
    padding-left: 5px;
  }
  .menu__btn{
    right: 5px;
  }
  .services{
    &__title{
      font-size: 25px;
      margin-bottom: 15px;
    }
    &__subtitle{
      font-size: 16px;
      margin-top: 15px;
    }
    &__text{
      font-size: 14px;
    }
  }
}