%opensans-300{
  font-family: 'OpenSans-Light';
  font-weight: 300;
}
%opensans-400{
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}
%opensans-600{
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
}
%opensans-700{
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}
%opensans-800{
  font-family: 'OpenSans-ExtraBold';
  font-weight: 800;
}