@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';





.header{
  
  &-top-container{
    background-color: #fafafa;
  }
  &-top{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    &__text{
      span{
        @extend %opensans-700;
      }
    }
    &__adress{
      display: flex;
      align-content: center; 
      @extend %opensans-600;
      font-size: 14px;
      line-height: 50px;
      color: #556f78;
    }
    &__phones{
      display: flex;
      @extend %opensans-600;
      font-size: 14px;
      line-height: 50px;
      color: #556f78;
    }
    &__mail{
      display: flex;
      @extend %opensans-600;
      font-size: 14px;
      line-height: 50px;
      color: #556f78;
    }
    &__svg{
      &-pointer{
        margin-top: 13px;
        margin-right: 3px;
        margin-left: -10px;
      }
      &-phones{
        margin-top: 11px;
        margin-right: 3px;
      }
      &-mail{
        margin-top: 13px;
        margin-right: 3px;
      }

      
    }
    &__social{
      display: flex;
      &-btn{
        background-color: #5894b0;
        border: none;
        @extend  %opensans-400;
        font-size: 14px;
        line-height: 50px;
        color: #fff;
        padding: 0 25px 0 25px;
        margin-left: 10px;
      }
    }
    &__link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:0 10px 0 10px;
    }
  }
  &__inner{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }
  &__search{
    &-svg{
      margin-top: 15px;
    }
  }
}

.menu{
  max-width: 670px;
    width: 100%;
  &__list{
    display: flex;
    justify-content: space-between;
    &-arrow{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/icons/chevron-down.png');
        background-repeat: no-repeat;
        width: 10px;
        height: 6px;
        top: 25px;
        right: -20px;
      }
      
    }
    &-link{
        @extend  %opensans-400;
        font-size: 16px;
        line-height: 50px;
        color: #95adb4;
        transition: all .3s;
        &:hover{
          color: #f3ae36;
        }
    }
  }
  
}

.video-dental{
  &__popup{
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play{
    &:hover{
      opacity: 80%;
      transform: translateY(1px);
    }
  }
  
}



.services{
  &__slider{
    display: flex;
    justify-content: space-between;
    &-item{
      padding: 70px 80px 100px 80px;
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      max-width: 635px;
      height: 540px;
      position: relative;
      
    }
  }
  &__subtitle{
        @extend  %opensans-400;
        font-size: 24px;
        line-height: 50px;
        color: #fff;
        text-transform: uppercase;
        // margin-bottom: 30px;
  }
  &__title{
        @extend  %opensans-700;
        font-size: 50px;
        line-height: 50px;
        color: #fff;
        margin-bottom: 55px;
  }
  &__text{
        @extend  %opensans-600;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        margin-bottom: 70px;
  }
  &__btn{
        @extend  %opensans-600;
        font-size: 16px;
        color: #fff;
        background-color: transparent;
        border: solid 1px #fff;
        padding: 20px 35px;
        outline: none;
        &:hover{
          background-color: #5894b0;
          border: none;
        }
      }
      
      .slick-prev{
        border: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        padding: 270px 25px;
        background-image: url('../images/icons/prev-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        background-color: rgba(0, 0, 0, .1);
       
         
      }
      
      .slick-next{
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 270px 25px;
        background-image: url('../images/icons/next-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        background-color: rgba(0, 0, 0, .1);
        
       
      }
      
      .slick-arrow {
        font-size: 0;
      }


      
}








.about{
  padding: 80px 380px;
  text-align: center;
  &__title{
        @extend  %opensans-300;
        font-size: 50px;
        color: #808080;
        margin-bottom: 50px;
        span{
          color: #6fa0b7;
          @extend  %opensans-700;
          font-size: 50px;
        }
  }
  &__text{
        @extend  %opensans-300;
        font-size: 24px;
        color: #8e8e8e;
        margin-bottom: 30px;
        span{
        @extend  %opensans-400;
        color: #8c8c8c;
        position: relative;
        }
  }
  &__btn{
        @extend  %opensans-600;
        font-size: 16px;
        color: #fff;
        padding: 20px 35px;
        background-color: #5894b0;
        border: none;
        outline: none;
        margin-top: 60px;
         transform: translateY(1px);
        }
        .slick-dots{
          position: absolute;
          display: flex;
          justify-content: center;
          left: 50%;
          right: 50%;
         
        }
        .slick-dots button{
          border-radius: 50%;
          font-size: 0;
          height: 12px;
          width: 12px;
          padding: 0;
          border: solid 1px #c6c6c6;
          margin: 0 5px;
          outline: none;
          background-color: #fff;
          &:hover{
            background-color: #6fa0b7;
            border: none;
          } 
        }
        
        .slick-active button{
          background-color: #6fa0b7;
          border: none;
        }
  }
  



.specialists{
  padding: 80px 0px 90px 0px;
  background-image: url('../images/spec-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
  }
  &__title{
    text-align: center;
    @extend  %opensans-300;
        font-size: 50px;
        color: #808080;
        margin-bottom: 50px;
        span{
          color: #fcbc4d;
          @extend  %opensans-700;
          font-size: 50px;
        }

  }
  &__box{
    height: 570px;
    max-width: 360px;
   text-align: center; 
   background-color: #fff;
   &-title{
        @extend  %opensans-600;
        font-size: 20px;
        margin: 35px 0 12px 0;
        color: #000000;
   }
   &-subtitle{
     @extend  %opensans-600;
        font-size: 16px;
        color: #5894b0;
        margin-bottom: 30px;
   }
   &-links{
    display: inline-block;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    max-width: 130px;
    
   }
   &-link{
   margin: 0 10px;
   align-items: baseline;
     
   }
   &-text{
        @extend  %opensans-300;
        font-size: 16px;
        color: #999999;
        max-width: 225px;
        margin: 0 auto;
        
   }
  }
  &__btn{
    @extend  %opensans-600;
        font-size: 16px;
        color: #000;
        padding: 20px 35px;
        background-color: transparent;
        border: solid 1px #000;
        outline: none;
        margin-top: 100px;
        display: block;
    margin-left: auto;
    margin-right: auto;
        
  }
  
  .slick-dots{
          position: absolute;
          display: flex;
          justify-content: center;
          left: 50%;
          right: 50%;
         bottom: 0;
         margin-bottom: -50px;
        }
        .slick-dots button{
          border-radius: 50%;
          font-size: 0;
          height: 12px;
          width: 12px;
          padding: 0;
          border: solid 1px #c6c6c6;
          margin: 0 5px;
          outline: none;
          background-color: #fff;
          &:hover{
            background-color: #6fa0b7;
            border: none;
          } 
        }
        
        .slick-active button{
          background-color: #6fa0b7;
          border: none;
        }
}





























@import 'media';
